<div class="index-container">
    <img class='w-25 img-fluid mx-auto d-block mt-5' src = '/images/beer.png'>
    <a href="/beers" class="shadow text-center btn-lg btn-primary d-block w-15 mx-auto mt-5 text-white " role="button">Check the Beers</a>
    <a href="/random-beers" class="shadow text-center btn-lg btn-primary d-block w-20 mx-auto mt-4 text-white " role="button">Check the Random Beers</a>
</div>